$names: "books" 20px red 18, "games" 30px green 18, "dvds" 20px blue;

@each $name, $padding, $color, $font in $names {
  .#{$name} {
    padding: $padding;
    font-size: if($font == null, 16px, #{$font}px);
    border-bottom: 2px solid $color;
    color: #444;
  }
}
